html, body {
  background-color: #C41E3A;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url("assets/plaid.png");
  background-size: cover;
  background-repeat: repeat;
}

body {
  display: flex;
  align-items: center;
  flex-direction: row;
}

h1 {
  font-family: "Sacramento", sans-serif;
  font-weight: normal;
  font-size: 2.5em;
  margin: 0;
  
  filter: drop-shadow(0 0 5px #222);
  
}

.logo {
  height: auto;
  max-width: 5em;
  vertical-align: center;
  
  filter: drop-shadow(0 0 8px #222);
  
}

input, button {
  font: inherit;
  padding: 1em;
  display: block;
  margin: 1em auto;
  width: 100%;
  max-width: 200px;
  /* TODO: get these values right? */
  border-radius: 5px;
}

input {
  border: 0.1em solid white;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  background: #6B0504 none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  transition-duration: 0.2s;
  border: 0.1em solid #6B0504;
  color: inherit;
  cursor: pointer;
}

button:hover {
  background: #b20707 none;
  cursor: pointer;
  transition-duration: 0.2s;
  border: 0.1em solid #b20707;
}

button:active {
  background: #4c0303 none;
  border-color: #4c0303;
}

button:focus {
  outline: 0;
}

.main {
  margin: 3em auto 0em auto;
  padding: 3em 2em 2em 2em;
  max-width: 1000px;
  width: 75%;
  background-color: #C41230;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  text-align: center;
}

.nameOption {
  cursor: pointer;
}

.userList {
  width: 50%;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  color: black;
}

tr {
  background-color: white;
  border: 2px solid  #C41E3A;
  transition-duration: 0.4s;
}

td {
  text-align: center;
  padding: 8px;
}

tr:hover {
  background-color: #d1d1d1;
}

tr:nth-child(even) {
  background-color: red;
}

#canvas {
  display: none;
}

video {
  max-width: 100%;
  max-height: 100%;
}

.methodSelect div {
  cursor: pointer;
  display: inline-block;
  padding: 2em;
}

.methodSelect div:hover {
  transition-duration: 0.5s;
  background: #b20707 none;
}

.methodSelect img {
  max-width: 100%;
  width: 200px;
}

.methodSelect p {
  text-align: center;
  margin: 0 0 0.5em 0;
}

.backLink {
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}